header {
  height: 50px;
  width: 100vw;
  /* background-color: orange; */
  /* display: flex; */
  justify-content: space-around;
}
nav {
  height: 30px;
  width: 100vw;
  background-color: orange;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav2 {
  /* background-color: orchid; */
  display: flex;
  justify-content: space-evenly;
}
div.logo {
  background-color: white;
  color: orange;
}
nav button {
  color: white;
  background-color: orange;
  border: none;
  cursor: pointer;
}
nav button:hover {
  background-color: peru;
}
