.login div {
  margin: 0, auto;
  width: 60vw;
  background-color: turquoise;
  margin: auto;
}
.login div > div {
  margin: auto;
}
.login h1 {
  text-align: center;
}
.login button {
  background-color: blue;
  color: white;
  width: 100%;
}
.login input {
  width: 100%;
}
