.publish div {
  display: flex;
  justify-content: flex-start;
  width: 40vw;
  margin: auto;
  background-color: violet;
}
.publish div > div button {
  background-color: blue;
  color: white;
}
h2 {
  text-align: center;
}
.publish input {
  width: 100%;
}
