.signup {
  width: 80vw;
}
.signupContainer {
  display: flex;
  width: 50vw;
  background-color: lightgreen;
}
.signupContainer1 {
  background-color: lightcoral;
}
.signupContainer2 {
  background-color: lightgreen;
}
.signupContainer2 button {
  background-color: blue;
  color: white;
  width: 100%;
}
